@inherits SettingsComponentBase

<h4>Settings</h4>

<EditForm Model="SettingsFormModel" OnValidSubmit="SubmitForm" FormName="SettingsForm">
    <DataAnnotationsValidator />
    <div class="input-group">
        <span class="input-group-text">Pomodoro duration</span>
        <InputNumber class="form-control" @bind-Value="SettingsFormModel.PomodoroDurationInMinutes" min="0.5" max="60" />
        <span class="input-group-text">mins</span>
    </div>
    <div class="input-group mt-1">
        <span class="input-group-text">Rest duration</span>
        <InputNumber class="form-control" @bind-Value="SettingsFormModel.RestDurationInMinutes" min="0.5" max="60" />
        <span class="input-group-text">mins</span>
    </div>
    <div class="input-group mt-1">
        <span class="input-group-text">Long rest duration</span>
        <InputNumber class="form-control" @bind-Value="SettingsFormModel.LongRestDurationInMinutes" min="0.5" max="60" />
        <span class="input-group-text">mins</span>
    </div>
    <div class="input-group mt-1">
        <span class="input-group-text">Long rest after</span>
        <InputNumber class="form-control" @bind-Value="SettingsFormModel.PomodorosCountToLongRest" min="2" max="10" />
        <span class="input-group-text">intervals</span>
    </div>
    <div class="d-grid gap-2 mt-2">
        <button type="submit" class="btn btn-primary">Apply</button>
    </div>
    <ValidationSummary />
</EditForm>
