@using Pomodroido.Components.Pomodoro
@using Pomodroido.Enums

@attribute [Route(PageRoutes.Timer)]

@inherits PomodoroComponentBase

<PageTitle>Pomodroido - Timer</PageTitle>

<div class="container w-50">

    <div class="container d-flex flex-column align-items-center">
        <p>Actual: @CurrentInterval?.Type</p>
        <h4>Remaining Intervals</h4>
        <span class="lead" style="font-size: 14px;">@(
            string.Join(" - ", Cycle.Intervals
                .Where(x => !x.Done).Select(x => x.Type switch
                {
                    ECycleType.Pomodoro => "P",
                    ECycleType.Rest => "R",
                    ECycleType.LongRest => "LR",
                    _ => string.Empty
                })
            )
        )</span>
    </div>

    <div class="container d-flex flex-column align-items-center mt-3">
        <Timer
            OnClickResetTimerFinished="@(() => FillPomodoroCycle(SettingsModel))"
            OnFinishedInterval="FillNextCurrentInterval"
            IntervalDuration="@(TimeSpan.FromMinutes(CurrentInterval?.TimeInMinutes ?? 0))"
            Type="CurrentInterval?.Type ?? default"
        />
    </div>

    <div class="container d-flex flex-column align-items-center mt-3">
        <Settings
            OnSuccessfullSubmit="FillPomodoroCycle"
        />
    </div>
</div>
